.light {
    background: #eee;
}

.dark {
    background: rgb(80, 80, 80);
}

td {
    border: 1px solid;
    width: 3em;
    height: 3em;
}

th {
    padding: .5em;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}