.App {
  text-align: center;
}

h1 {
  margin: 2vmin;
  text-decoration: underline;
}

h3 {
  margin-top: 5vmin;
}

button {
  margin-bottom: 2vmin;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid;
}


